.text-cursor-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* Added to prevent scrollbars from cursor flying out */
}

.text-cursor-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999; /* Ensure it stays on top */
  overflow: hidden;
}

.text-cursor-item {
  position: absolute;
  user-select: none;
  white-space: nowrap;
  font-size: 1.875rem;
  pointer-events: none;
}
